.info-block {
  background-color: rgba(114, 145, 76, 0.849);
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  min-width: 250px;
  max-width: 100%;
  margin-top: 10px;
  border: 4px solid #07586ebd;
}

.info-block__item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.info-block__item:hover {
  cursor: pointer;
  background-color: rgba(10, 134, 41, 0.849);
}